# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_PATCH78_LEFT
    def_bool $(shields_list_contains,patch78_left)

config SHIELD_PATCH78_RIGHT
    def_bool $(shields_list_contains,patch78_right)